<div class="max-w-6xl my-4 mx-auto p-4">
  <h1 class="text-2xl font-bold my-6">Account</h1>
  <div class="block md:flex md:justify-center gap-4">
    {% assign number_or_orders = customer.orders | size %}
    {% if number_or_orders > 0 %}
      <div class="w-full">
        <h2 class="text-xl font-medium underline">Order History</h2>
        {% paginate customer.orders by 10 %}
          <div class="my-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-x-6 md:gap-x-8">
            {% for order in customer.orders %}
              <div class="flex flex-col">
                <div class="w-full min-h-60 bg-gray-200 rounded-md overflow-hidden lg:h-60">
                  {% if order.line_items.first.image %}
                    <img
                      height="auto"
                      width="auto"
                      src="{{ order.line_items.first.image.src | img_url: 'medium' }}"
                      class="h-full w-full object-center object-cover rounded-sm"
                      alt="{{ order.line_items.first.image.alt }}"
                    >
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'h-full w-full object-center object-cover rounded-sm' }}
                  {% endif %}
                </div>
                <div class="flex justify-between mt-4 px-2">
                  <div>
                    <h3 class="text-sm text-gray-500">
                      {{ order.name | link_to: order.customer_url }}
                    </h3>
                    <p class="mt-2 text-sm text-gray-500">{{ order.financial_status_label }}</p>
                  </div>
                  <div class="text-right">
                    <p class="bg-black rounded-full text-xs text-white capitalize px-2 py-1">
                      {{- order.fulfillment_status_label -}}
                    </p>
                    <p class="mt-2 text-sm font-bold">
                      {{ order.total_price | money }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% render 'pagination', pagination: paginate %}
        {% endpaginate %}
      </div>
    {% else %}
      <div class="w-full mx-auto my-8 flex flex-col justify-center items-center gap-4">
        {% render 'icon-shopping-bag', class: 'h-10 w-10' %}
        <p class="text-md text-gray-500">No Orders Found...</p>
      </div>
    {% endif %}

    <div class="w-full md:w-1/4 bg-gray-100 p-4">
      <h2 class="font-medium text-xl mb-6 underline">Account Details</h2>
      <div>
        {{ customer.default_address | format_address }}
        <a
          href="{{ routes.account_addresses_url }}"
          class="mt-2 text-[11px] text-black hover:text-gray-600 underline cursor-pointer font-medium"
          >View Address</a
        >
      </div>
    </div>
  </div>
</div>
