<div class="relative bg-white" x-data="{ mobileMenuOpen: false, searchBarOpen: false }" x-cloak>
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-around items-center py-6 md:space-x-10">
      <div class="flex justify-start truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button
          x-on:click="mobileMenuOpen = true"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none"
        >
          {% render 'icon-menu' %}
        </button>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class="hidden md:flex space-x-10 md:gap-4 ">
        {% render 'navigation-links' %}
      </nav>

      <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
      <div class="hidden md:flex items-center justify-end space-x-5 gap-4">
        <button
          x-on:click="searchBarOpen = true"
          type="button"
          class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900"
        >
          {% render 'icon-search' %}
        </button>
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900 relative">
          {% if cart.item_count > 0 %}
            <span class="absolute z-2 -bottom-1 right-0 h-4 w-4 text-[8px] text-white rounded-full bg-red-500 p-1 text-center font-medium">
              {{- cart.item_count -}}
            </span>
          {% endif %}
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">account</a>
            {{
              'Log out'
              | customer_logout_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
          {% else %}
            {{
              'Log in '
              | customer_login_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
            {{
              'Register'
              | customer_register_link
              | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'
            }}
          {% endif %}
        {% endif %}
      </div>

      <!-- MOBILE MENU CONTAINER -->
      <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
        <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
          <div class="p-5 divide-y-2 divide-gray-50">
            <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->

            <div class="flex items-center justify-between pb-3">
              <div>
                <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
              </div>
              <div class="-mr-2">
                <button x-on:click="mobileMenuOpen = false" type="button" class="bg-white rounded-md p-2 text-gray-500">
                  {% render 'icon-close' %}
                </button>
              </div>
            </div>

            <!-- NAVIGATION LINKS FOR MOBILE MENU -->
            <div class="pt-3">
              <nav class="grid gap-y-7">
                {% render 'navigation-links' %}
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div
        x-show="searchBarOpen"
        @click.away="searchBarOpen = false"
        class="w-full absolute z-99 top-0 bg-white shadow-md"
      >
        <button type="button" x-on:click="searchBarOpen = false" class="absolute top-0 right-0 mr-5 mt-5 text-gray-500">
          {% render 'icon-close' %}
        </button>
        <div class="h-40 flex justify-center items-center">
          <form action="{{ routes.search_url }}" method="get" class="flex-auto px-4">
            <h1 class="text-xl font-bold mb-2">Search Results</h1>
            <div class="relative text-gray-500 px-6 border w-full">
              <input
                type="search"
                name="q"
                x-on:enter="searchBarOpen = false"
                placeholder="Search"
                class="w-full bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
              >
              <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-20">
                {% render 'icon-search' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "default": "Menu",
      "label": "Mobile Menu Title"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    }
  ]
}
{% endschema %}
