<div class="max-w-5xl mx-auto my-6">
  <div class="flex justify-between items-start md:items-end my-5">
    <div class="w-1/2">
      <h1 class="font-bold text-2xl text-gray-700">Order {{ order.id }}</h1>
      <p class="text-gray-500">Placed on {{ order.created_at | date: format: 'date' }}</p>
      <span class="mt-3 text-sm text-white bg-black rounded-full shadow-md px-3 py-1">
        {{- order.financial_status_label -}}
      </span>
    </div>
    <a href="{{ routes.account_url }}" class="text-gray-500 text-sm underline hover:text-gray-700">
      Back to account details
    </a>
  </div>
  <div>
    {% for line_item in order.line_items %}
      <div class="w-full border border-gray-300 rounded-sm mb-4 divide-y">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 rounded-sm p-4 md:p-8 my-4">
          <div class="overflow-hidden w-full min-h-80 shadow-md lg:h-80">
            {% if line_item.image %}
              <img
                height="auto"
                width="auto"
                class="w-full h-full object-cover object-center rounded-sm"
                src="{{ line_item.image | img_url: 'medium' }}"
                alt="{{ line_item.image.alt }}"
              >
            {% else %}
              {{ 'product-2' | placeholder_svg_tag: 'w-full h-full object-cover object-center rounded-sm' }}
            {% endif %}
          </div>
          <div>
            <h1 class="text-xl font-medium mb-4">{{ line_item.title | link_to: line_item.product.url }}</h1>
            <table class="table-auto w-full mb-4">
              <tbody>
                <tr>
                  <td class="border border-gray-300 px-4 py-2">Price</td>
                  <td class="border border-gray-300 px-4 py-2">{{ line_item.original_price | money }}</td>
                </tr>
                <tr>
                  <td class="border border-gray-300 px-4 py-2">Quantity</td>
                  <td class="border border-gray-300 px-4 py-2">{{ line_item.quantity }}</td>
                </tr>

                <tr>
                  <td class="border border-gray-300 px-4 py-2">Final Price</td>
                  <td class="border border-gray-300 px-4 py-2">{{ line_item.final_price | money }}</td>
                </tr>
              </tbody>
            </table>
            <div>
              {{ line_item.product.description | truncatewords: 15 }}
            </div>
          </div>
          <div>
            <h1 class="text-xl font-medium mb-4">Delivery Address</h1>
            <div>
              <p>Address 1: {{ order.shipping_address.address1 | default: '-' }}</p>
              <p>Address 2: {{ order.shipping_address.address2 | default: '-' }}</p>
              <p>Street: {{ order.shipping_address.street | default: '-' }}</p>
              <p>Province: {{ order.shipping_address.province | default: '-' }}</p>
              <p>City: {{ order.shipping_address.city | default: '-' }}</p>
              <p>Country: {{ order.shipping_address.country | default: '-' }}</p>
              <p>Zip: {{ order.shipping_address.zip | default: '-' }}</p>
            </div>
          </div>
        </div>
        <hr class="border-gray-300">
        <div class="p-4 ">
          <h1 class="text-lg font-medium mb-4">Fulfillment</h1>
          {% if line_item.successfully_fulfilled_quantity > 0 %}
            <p class="mb-2">
              We have fulfilled {{ line_item.successfully_fulfilled_quantity }} items of your recent order.
            </p>
            <p class="mb-2">Tracking company: {{ line_item.fulfillment.tracking_company }}</p>
            <p class="mb-2">Tracking number: {{ line_item.fulfillment.tracking_number }}</p>
            <a
              target="_blank"
              href="{{ line_item.fulfillment.tracking_url }}"
              class="flex w-max text-sm border text-white font-medium bg-black hover:bg-white hover:text-black px-4 py-1 rounded"
            >
              Track order <span class="ml-1">{% render 'icon-link' %}</span>
            </a>
          {% else %}
            <p class="text-gray-500">This item is not yet fulfilled</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 border border-gray-200 rounded-sm p-4 md:p-12 my-6 bg-gray-50">
    <div>
      <h1 class="font-bold mb-4">Billing address</h1>
      {{ order.billing_address | format_address }}
    </div>
    <div>
      <h1 class="font-bold mb-4">Payment information</h1>
      {% for transaction in order.transactions %}
        <div class="mb-4">
          {% assign credit_card_company = transaction.payment_details.credit_card_company %}
          {% assign credit_card_last_four_digits = transaction.payment_details.credit_card_number %}
          {% if credit_card_company %}
            <p>{{ credit_card_company }}</p>
            <p>{{ credit_card_last_four_digits }}</p>
            <p class="flex max-w-30 items-center justify-center gap-4 bg-black rounded-full text-sm px-4 py-1 text-white">
              <span>
                {% case transaction.status_label %}
                  {% when 'Failure' %}
                    {% render 'icon-failed', class: 'text-red-500' %}
                  {% else %}
                    {% render 'icon-success', class: 'text-green-500' %}
                {% endcase %}
              </span>
              <span>
                {{- transaction.status_label -}}
              </span>
            </p>
          {% else %}
            <p class="text-sm mb-4">This order is manually placed {{ shop.name }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div>
      <table class="table-auto w-full mb-4">
        <tbody>
          <tr>
            <td class="border border-gray-200 px-4 py-2">Subtotal</td>
            <td class="border border-gray-200 px-4 py-2">{{ order.subtotal_price | money }}</td>
          </tr>
          <tr>
            <td class="border border-gray-200 px-4 py-2">Shipping</td>
            <td class="border border-gray-200 px-4 py-2">{{ order.shipping_price | money }}</td>
          </tr>
          <tr>
            <td class="border border-gray-200 px-4 py-2">Total</td>
            <td class="border border-gray-200 px-4 py-2">{{ order.total_price | money }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
